streamlit
pandas==1.5.3
pandas-datareader==0.10.0
openai==0.27.0
streamlit==1.18.1
azure-ai-formrecognizer==3.2.0
azure-identity
azure-search-documents==11.4.0
azure-storage-blob==12.14.1
pypdf2==3.0.1
tenacity==8.2.2
tiktoken==0.3.3
pypdf